#no-sidebar {
    background-color: #f5f5f5;
}

body{
    max-width: 1875px;
}
.contact-sign-in-area {
    max-width: 633, 984px !important;
    /* min-width: 633, 984px !important; */
}



.main-content-inner .right-sidebar{
    justify-content: center;
}
.contact-icons {
    background: #fafafa;
    border-style: solid;
    float: left;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    height: 110px;
    width: 110px;
    padding-top: 43px;

}

.contact-divs {
    min-width: 308px !important;
    /* min-height: 105px !important; */
}

.contact-divs:hover .contact-icons {
    /* color: blue; */
    background-color: blue;
    transition: 1.5s;
    color: white;
}

.content-adresses {
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 20px;
    font-size: 15px;
    color: #777;
    position: relative;
    top: 15px;
}

label {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 38px;
    border-radius: 15px;
    color: #555252;
}

.hover-p:hover .input-1-2-3 {
    border-width: 3px;
    border-color: #015ade !important;
    transition: 1s;
}


.hover-p:hover .input-1-2 {
    transition: 1s;
    border-width: 3px;
    border-color: #015ade !important;
}

.Submit-btn {
    background-color: #015ade;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    color: white;
}

.Submit-btn:hover {
    background-color: #000000;
}


.input-1-2-3 {
    width: 400px;
    border-radius: 5px;
    border-color: rgb(179, 172, 172) !important;
}

.input-1-2 {
    width: 400px;
    height: 150px;
    border-radius: 5px;
    border-color: rgb(179, 172, 172) !important;
}



.main-content {
    /* left: 150px; */
    /* min-width: 1590px; */
}


.input-text {
    text-transform: capitalize;
    color: #015ade;
    margin: 10px 0px 0px 0px;
}

.divler {
    margin-bottom: 40px;
}



.sidebar-img-div {
    border: #555252;
    flex-direction: column;
    border-radius: 5px;
    border-color: #555252;
    border-width: 2px;
    clear: both;
    list-style: outside none none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
}

.sidebar-divs {
    display: flex;
    flex-direction: column;
}

.sidebar-img {
    border-radius: 10px;
    border-top: 4px solid;
    margin-top: 10px;
}

.recent-span {
    border-color: #3679dd !important;
    border-bottom: 3px solid;
    margin-bottom: 5px;
}

.spanin-divi {
    border-bottom: 1px solid;
    border-color: #eee;
}


.tags-class {


    overflow: hidden;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-bottom: 30px;

}

.birinci {
    border: 1px solid #eee;
    margin-right: 5px;
    border-radius: 5px;
}

.birinci:hover {
    background-color: #007bff;
    color: white;
}

.tags-1 {
    margin: 10px 0px 10px 0px;
}

.tags-2 {
    margin: 10px 0px 10px 0px;
}

.sidebar-catecories {
    margin: 0 0 30px;
    overflow: hidden;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
}

.s-c-1 {
    border-bottom: 1px solid #eee;
}

.s-c-s {
    border-bottom: 3px solid #3679dd;
}

.span-4 {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.s-c-2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.img-sidebar {
    color: #3679dd;
    float: left;
    padding: 3px;
    margin-right: 7px;
    border-radius: 50%;
}

.sidebar-div-1 {
    border-bottom: 1px solid #eee;
    padding: 15px 0px 15px 0px;
    color: #3679dd;
}

.maps {
    background-color: #007bff;
    width: 880px !important;
    height: 300px !important;
    position: relative !important;
    bottom: 900px !important;
    left: 310px !important;
}


@media only screen and (max-width: 780px) {
    .main-content .right-sidebar .box-page {
        margin-top: 0;
        margin-bottom: 40px;
        display: flex !important;
        flex-direction: column !important;
        
    }
    .main-content-inner  .right-sidebar{
        flex-direction: column;
       
    }
    .maps{
        opacity: 0;

    }
    .search{
        display: block;
    }
    body{
        display: flex;
        flex-direction: column;
        float: left;
    }

}

@media only screen and (max-width:1795px ){

    .maps{
        left: 50px !important;
        /* margin: 0 auto; */
        width: 50% !important;
        
    }
    .main-content-inner .right-sidebar .content-area{
    min-width: 500px;
    }
    .left-col {
        min-width: 405px;
    }
        
    
}
    
