#yith-quick-view-modal .yith-wcqv-wrapper{height:auto !important;width:1040px !important}
#yith-quick-view-modal .yith-wcqv-main{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;overflow:auto !important}
#yith-quick-view-modal .yith-wcqv-main .type-product{overflow:hidden;height:100%}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.images{width:42%;margin-bottom:0; padding: 0; padding-right:0px}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.images .woocommerce-product-carousel-gallery__wrapper{margin:0}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content .ps{overflow:hidden !important;overflow-anchor:none;-ms-overflow-style:none;touch-action:auto;-ms-touch-action:auto}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary{width:55%;padding:40px 30px;position:absolute;right:20px;height:inherit}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .product_meta{padding-bottom:0}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content{height: 410px;position:relative; overflow: hidden; overflow-y: scroll;}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel{margin-left:0;margin-right:0}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-arrow{background:#fff;width:40px;height:40px;line-height:40px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-arrow:hover:after{color:#b2b2b2}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-arrow:after{line-height:40px}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-arrow.slick-next{right:45px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-arrow.slick-prev{left:45px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
#yith-quick-view-modal .yith-wcqv-main .ebrima_module_carousel .slick-slide{padding-right:0;padding-left:0}
#yith-quick-view-close{color:#c2c2c2;border:0;opacity:1;font-size:22px;line-height:0;right:12px;top:22px}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content:hover{ overflow-y: scroll;}
#yith-quick-view-modal .woocommerce div.product .product_title{padding-bottom: 10px; border-bottom: 1px solid #e4e4e4;}
#yith-quick-view-modal .woocommerce-product-details__short-description{border-bottom: 1px solid #e4e4e4;margin-bottom: 15px;}
#yith-quick-view-modal .woocommerce div.product .stock{padding-bottom: 10px; border-bottom: 1px solid #e4e4e4;}
#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .product_meta{padding-top: 10px; border-top: 1px solid #e4e4e4;margin-top: 5px;}
#yith-quick-view-modal .woocommerce .entry-summary .cart{    margin-top: 15px;}
#yith-quick-view-modal .star-rating{margin: 0;}
#yith-quick-view-content div.summary .quantity input.qty {
    width: 50px;
}
@media only screen and (max-width: 1199px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
	    height: auto !important;
	    width: 880px !important;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content {
    height: 356px;
	}
}

@media only screen and (max-width: 991px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
	    height: auto !important;
	    width: 680px !important;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content {
    height: 300px;
	}
	#yith-quick-view-modal .woocommerce-product-details__short-description p {
    height: 50px;
    overflow: hidden;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary{padding: 15px 30px;}
}

@media only screen and (max-width: 767px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
	    height: auto !important;
	    width: 600px !important;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content {
    height: 300px;
	}
	#yith-quick-view-modal .woocommerce-product-details__short-description p {
    height: 50px;
    overflow: hidden;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary{padding: 15px 30px;}
}
@media only screen and (max-width: 640px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
    height: auto !important;
    width: 500px !important;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary {
    padding: 15px;
    width: 100%;
    float: none;
    position: absolute;
    left: 0;
    right: 0;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.images {
    width: 100%;
    margin-bottom: 0;
    padding: 15px;
    float: none;
	}
	#yith-quick-view-modal .yith-wcqv-main #yith-quick-view-content div.summary .summary-content {
    height: auto;
	}
	#yith-quick-view-modal .woocommerce-product-details__short-description p {
    height: 50px;
    overflow: hidden;
	}
	#yith-quick-view-modal div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    bottom: 30px;
    right: 30px;
	}
	
}
@media only screen and (max-width: 510px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
    height: auto !important;
    width: 460px !important;
	}
}

@media only screen and (max-width: 479px) {
	#yith-quick-view-modal .yith-wcqv-wrapper {
    height: auto !important;
    width: 300px !important;
	}
}